alabaster==0.7.12
apipkg==1.5
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.9.1
bleach==3.3.0
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
docutils==0.14
execnet==1.6.0
idna==2.8
imagesize==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==7.0.0
numpy==1.21.0
packaging==19.0
pathlib2==2.3.3
Pillow==9.0.0
pkginfo==1.5.0.1
pluggy==0.11.0
py==1.10.0
Pygments==2.7.4
PyOpenGL==3.1.0
pyparsing==2.4.0
pytest==4.5.0
pytest-forked==1.0.2
pytest-timeout==1.3.3
pytest-xdist==1.28.0
pytz==2019.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tqdm==4.32.1
twine==1.13.0
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
wxPython==4.0.5
